
html{height:100%}
body {
  margin: 0;  padding: 0;  height:100%; color:rgb(214, 214, 214);font-size:10pt;overflow-x: hidden;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
@media(max-width:576px){
  body {font-size:9pt;}
  }
body:before {
  content: "";
  display: block;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -10;
  background: var(--day) no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
}
.page { padding-top: 45px !important;}
.page-margin-bottom{margin-bottom: 45px !important;}
.extra-margin-top{margin-top: 35px}
.extra-margin-bottom{padding-bottom: 135px}
:root{
  --bg-main: rgb(20, 40, 59);
  --day2:linear-gradient(to bottom, rgb(4, 88, 49), rgb(2, 53, 29));
  --day2:linear-gradient(to bottom, rgb(25, 84, 133), rgb(214, 214, 214));
  --day:linear-gradient(to bottom, rgb(4, 22, 34), rgb(25, 84, 133));
  --day2-body-bg:rgb(214, 214, 214);
  --day-body-bg:rgb(189, 47, 47);
  --day2-body-bg:rgb(25, 84, 133);
  --bg-pink:rgb(255, 255, 255);


}
/* DATE PICKER */
.DayPicker{color: black}
.DayPickerInput {width:100%;}
.DayPickerInput input{color:rgb(80, 80, 80);font-size: 11pt !important;width:100%;height: calc(1.8125rem + 2px);}
.date-to .DayPickerInput-Overlay {
  position: absolute;
  left: auto !important;
  right:0 !important;
  z-index: 1;
  background-color: white !important;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
}
/* GENERAL */
input[type=checkbox]{zoom: 1.5 !important;}
input[type='text'],input[type='number'],select,textarea {  font-size: 16px;}
.loading{display:none;cursor:pointer;position: fixed;left:0;top:0;font-size:12pt;color:rgb(170, 170, 170);background-color:rgba(0, 0, 0, 0.5);height:100%;width:100%;z-index:20;}
.loading img{position:absolute;top:50%;left:50%;transform: translate(-50%,-50%);display: block;width:100px;height: 100px}
.loading-show{display:block !important}
.pointer{cursor:pointer}
.v-align{position: absolute;top:50%;left:50%;transform: translate(-50%, -50%)}
.fade-in{animation: fade_in 0.6s 1s forwards;opacity: 0}
@media(min-width:577px){
.show-xs{display:none}
}
@media(max-width:576px){
.date-combo select{height:35px}
.hidden-xs{display:none}
}

.link:hover{color: orange;cursor: pointer;}
@keyframes fade_in{  from{opacity: 0} to{opacity: 1}}
/* INPUT ICON */
.input-icon input, .input-icon input:focus {box-shadow: none;color:rgb(207, 207, 207);background-color: red;border:none;border-bottom: 1px solid rgb(148, 148, 148);border-radius: 0}
.input-icon input::placeholder{color:rgb(165, 165, 165) !important}
.input-icon {position: relative;}
.input-icon input{padding-left: 28px;padding-bottom:1px}
.input-icon i{position:absolute;left:1px;bottom:3px;font-size:24px;color:rgb(207, 207, 207)}
/* FILTER */
.filter{position: fixed;width:100%;left:0;top:40px;background-color: #d4d4d4;padding:0.4rem;z-index:200}
.div-table{margin-top:45px}
.margin-top-filter{margin-top:50px}
@media(max-width:576px){
  .div-table-xs{margin-top:75px}
  .margin-top-filter-xs{margin-top:90px}
  }
/* LOGIN */
.login .form-control, .login .btn{position: relative;}
.login .user{left:-100%;transform: translateX(-200%);}
.login .pass, .login .div-btn{left:100%;transform: translateX(200%)}
.come-100{animation: a_come_100 0.6s forwards;display: block}
@keyframes a_come_100{  from{transform:translateX(200%);left:100%;}  to{transform:translateX(0);left:0;}}
.come-reverse-100{animation: a_come_100_reverse 0.6s forwards;display: block}
@keyframes a_come_100_reverse{  from{transform:translateX(-200%);left:-100%;}  to{transform:translateX(0);left:0;}}
.logo-icons{margin-top:0px;}
.logo-icons i{margin-right: 3px;font-size: 30px}
.logo-icons .fa-futbol{color:rgb(255, 255, 255)}
.logo-icons .fa-volleyball-ball{color:rgb(228, 228, 228)}
.logo-icons .fa-football-ball{color:rgb(212, 91, 91)}
.logo-icons .fa-baseball-ball{color:yellow}
.logo-text{font-size: 40px;font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif}
@media(max-width:576px){.logo-text{font-size: 40px}}
/* CONSOLIDADO */
.table-consolidado-xs div[class^='col']{border-right:1px solid rgb(53, 53, 53);border-bottom:1px solid rgb(53, 53, 53);padding-right: 1px !important;}
.table-consolidado-xs tr:nth-child(odd) td div[class^='col']{border-right:1px solid rgb(65, 65, 65);border-bottom:1px solid rgb(65, 65, 65)}
.table-consolidado-xs{text-align: center}
.table-consolidado-xs td, .table-consolidado-xs th{padding: 0}
.table-consolidado-xs.table-scroll>tbody{max-height: calc(100vh - 225px);}
/* CONSOLIDADO LOGIN */
.head-fixed{position: fixed;width:100%;z-index:100;background: inherit}
.table-consolidado-login td{vertical-align: middle}
.table-detail td:nth-child(1){width: 25%}
.table-detail td:nth-child(2){width: 15%}
.table-detail td:nth-child(6){width: 15%;text-align: center;vertical-align: middle}

.table-consolidado-login>thead th:nth-child(1), .table-consolidado-login>tbody td:nth-child(1){width:50%} 
.table-consolidado-login>thead th:nth-child(2), .table-consolidado-login>tbody td:nth-child(2){width:10%}
.table-consolidado-login>thead th:nth-child(3), .table-consolidado-login>tbody td:nth-child(3){width:7%}
.table-consolidado-login>thead th:nth-child(4), .table-consolidado-login>tbody td:nth-child(4){width:7%}
.table-consolidado-login>thead th:nth-child(5), .table-consolidado-login>tbody td:nth-child(5){width:8%}
.table-consolidado-login>thead th:nth-child(6), .table-consolidado-login>tbody td:nth-child(6){width:8%}
.table-consolidado-login>thead th:nth-child(7), .table-consolidado-login>tbody td:nth-child(7){width:5%}
.table-consolidado-login>thead th:nth-child(8), .table-consolidado-login>tbody td:nth-child(8){width:5%; }
.table-consolidado-login.table-scroll>tbody{max-height: calc(100vh - 185px);}
.table-consolidado-login-xs.table-scroll>tbody{max-height: calc(100vh - 225px);}
.row-consolidado-login-xs td, .row-consolidado-login-xs th{width:20%;text-align: center} 

/* RISK PROFIT */
.table-risk-profit-detail>thead th:nth-child(1), .table-risk-profit-detail>tbody td:nth-child(1){width:5%} 
.table-risk-profit-detail>thead th:nth-child(2), .table-risk-profit-detail>tbody td:nth-child(2){width:30%}
.table-risk-profit-detail>thead th:nth-child(3), .table-risk-profit-detail>tbody td:nth-child(3){width:25%}
.table-risk-profit-detail>thead th:nth-child(4), .table-risk-profit-detail>tbody td:nth-child(4){width:10%}
.table-risk-profit-detail>thead th:nth-child(5), .table-risk-profit-detail>tbody td:nth-child(5){width:10%}
.table-risk-profit-detail>thead th:nth-child(6), .table-risk-profit-detail>tbody td:nth-child(6){width:20%}


.panel{cursor:pointer;position: absolute;left:0;top:0;font-size:12pt;color:rgb(170, 170, 170);background-color:rgba(0, 0, 0, 0.8);height:100%;width:100%;z-index:10;display:none;transform: translateY(-100%)}
.panel i{font-size: 16pt}
.panel .col:hover{color:orange}
.panel-come{animation: a_panel_come 0.6s forwards}
.panel-go{animation: a_panel_go 0.6s forwards}
.tools-right{position: absolute;right:0;background-color:var(--bg-main);color:white;height:100%;padding-top: 7px;z-index:10}
.tools-right div:hover{color:orange;cursor: pointer;}
@keyframes a_panel_come{
  from{transform:translateY(-100%)}
  to{transform:translateY(0)}
}
@keyframes a_panel_go{
  from{transform:translateY(0)}
  to{transform:translateY(-100%)}
}
/* FONTS */
.font-lg{font-size: 11pt}
.font-md{font-size: 10pt}
.font-sm{font-size: 9pt}
.font-xs{font-size: 8pt}
.btn-back{cursor: pointer;}
@media(min-width:576px){.btn-back:hover{color:orange} }
.rounded{border-radius: 10px;overflow: hidden;}
/* TABLE */
table{margin-bottom: 0 !important;color: rgb(63, 63, 63)} 
.table-hover tbody tr:hover {
  background-color: rgb(253, 198, 97);cursor: pointer
}
.table-light.table-hover tbody tr:hover {
  background-color: rgb(141, 160, 175) !important;cursor: pointer
}
.table-light.table-hover tbody tr:hover td {
   border:1px solid rgb(141, 160, 175)!important;
}
.td-min{width:20%;text-align: center}
.Perd{font-weight:bold;background-color:#00C851 !important}
.Ganh{font-weight:bold;background-color:#ff4444 !important}
.Aind{font-weight:bold;background-color:#e2a52a !important;}
.green{font-weight:bold;color:#00C851 !important}
.red{font-weight:bold;color:#ff4444 !important}
.yellow{font-weight:bold;color:#e2a52a !important}
.div-table{border-radius: 0px;overflow: hidden;}
.table-light{background-color: transparent;}
.table-light td{border:1px solid rgb(33, 59, 94);font-weight: normal}
.table-light thead th{background-color: transparent;color:rgb(255, 255, 255);border:1px solid transparent;border-bottom:1px solid rgb(33, 59, 94)}
.table-light tbody tr:nth-of-type(odd) {
  background-color: transparent;color:white
}
.table-light tbody tr:nth-of-type(even) {
  background-color: rgba(31, 49, 77, 0.5);color:rgb(228, 228, 228)
}
.table-scroll {width: 100%;}
.table-scroll>thead tr{display: table;width: 100%;}
.table-scroll>tbody{display: block;overflow-y:scroll;max-height: calc(100vh - 200px)}
.table-scroll>tbody::-webkit-scrollbar{display: none}
.table-scroll>tbody tr{display: table;width: 100%;}
.table-detail td{color:white;font-size: 9pt;background-color: rgb(85, 85, 85);vertical-align: middle}
/* BGs */
.btn-main{background-color: rgb(185, 55, 55);color:white;}
.bg-blue{background-color: var(--bg-main) ;color:white;}
.bg-pink{background-color: var(--bg-pink)}
.bg-gray{background-color: rgb(161, 161, 161)}
.bg-red{background-color: rgb(185, 66, 66)}
.bg-success-dark{background-color: rgb(68, 167, 107);color: white}
.bg-cream{background-color: #fdfdfe;color:var(--bg-main);}
.bg-cream-dark{background-color: #ececf6;color:var(--bg-main);}
.bg-list{background-color: var(--bg-main);color:white;padding: 0.4rem;border-bottom:1px solid rgb(50, 59, 95)}
.bg-list-alternate{background-color: rgb(43, 58, 75);color:white;padding: 0.4rem;border-bottom:1px solid rgb(71, 71, 71)}
.bg-list-alternate-2{background-color: rgb(218, 218, 218);color:rgb(15, 15, 15);padding: 0.4rem;border-bottom:1px solid rgb(180, 180, 180)}
.bg-list-alternate-2 i{color:rgb(78, 78, 78);}
.bg-sky{ background-image:linear-gradient(to bottom, rgb(25, 84, 133), white);}
.select-button{width:calc(100% - 110px);display: inline-block;margin-right: 0.5rem}
.btn-right{background-color: rgb(116, 118, 121);color:white;border-radius: 5px;border:1px solid gray}
.btn-right:focus{outline: 0;}
.btn-right:hover{background-color:  rgb(134, 134, 134);border:1px solid rgb(148, 148, 148)}
.block-inline{display: inline-block}
.hidden{display: none}
.block{display: block}
.text-orange{color:orange}
/* MENU */
.menu{color:rgb(42, 81, 117);font-size: 8pt;text-align:center;position: fixed;bottom:0;left:0;width:100%;z-index:1000;padding:0 !important;background-color: rgb(231, 231, 231);border-top: 0px solid rgb(129, 129, 129)}
.menu i{font-size: 20px}
.menu div{padding:0.05rem;padding-top: 0.1rem}
.menu div div:hover{color:orange;cursor: pointer;}
.navigation-bar{font-size:12pt;height: 40px;padding: 3px;position:fixed;top:0;z-index: 1000;background-color: rgb(231, 231, 231);width:100%;color:rgb(52, 60, 82);font-weight: bold}
.menu-more{transform: translateY(100%);position: fixed;top:0;left:0;background-image:var(--day);background-repeat: no-repeat;
  z-index:1000;height:100%;min-height:100vh;padding:1rem;width:100%;padding-top: 20px;}
.menu-more .menu-item div{cursor:pointer;background-color: #ececf6;color:var(--bg-main); padding: 0.3rem;border-radius: 10px;margin-bottom: 0.2rem}
.menu-more .menu-item div:hover{background-color: #fdfdfe;color:orange }
.menu-come{animation: a_menu_come 0.6s forwards}
@keyframes a_menu_come{
  from{transform:translateY(100%)}
  to{transform:translateX(0)}
}
/* BORDERS  */
.borders, .borders div{border:1px solid red !important}
.borders ul{border:1px solid green !important} 
.borders li{border:1px solid yellow !important}
.label{margin-bottom: 0.1rem;margin-top: 0.4rem;}
/* FORM */
.form{display:none;padding:0.4rem;padding-bottom:60px;position: absolute;width:100%;left:0;padding-top:40px;top:0;transform:translateX(200%);
  background-image:var(--day);min-height:100vh;z-index:11}
.come{animation: a_come 0.6s forwards;display: block}
.come-left{animation: a_come_left 0.6s forwards;display: block}
.come-top{animation: a_come_top 0.6s forwards;display: block}
.go{animation: a_go 0.6s forwards}
@keyframes a_come{
  from{transform:translateX(200%)}
  to{transform:translateX(0)}
}
@keyframes a_come_left{
  from{transform:translateX(-200%)}
  to{transform:translateX(0)}
}
@keyframes a_come_top{
  from{transform:translateY(-200%)}
  to{transform:translateX(0)}
}
@keyframes a_go{
  from{transform:translateX(0)}
  to{transform:translateX(200);display: none}
}
th{cursor: pointer;}
.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;

}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
